<div class="container">
  <div class="sendProduct">
    <form id="SendProductForm">
      <input type="text" placeholder="Title" id="title" />
      <input type="text" placeholder="Description" />
      <input type="text" placeholder="Price" />
      <input type="text" placeholder="Stock" />
      <input type="text" placeholder="Code" />
      <input type="text" placeholder="Category" />
      <button class="sendForm">Enviar</button>
    </form>
  </div>
  <div class="listProducts">
    Productos
  </div>
</div>
<script src="/socket.io/socket.io.min.js"></script>
<script src="/js/index.js" type="module"></script>