body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
}
/* SendProduct */
.sendProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input {
  min-height: 30px;
  min-width: 180px;
  text-align: center;
}
.sendForm {
  padding: 8px;
  min-width: 100px;
}
/* ListProduct */
.listProducts {
  flex-grow: 1;
}

ul li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.liproduct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
